name: shellcheck

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: ShellCheck
      uses: ludeeus/action-shellcheck@1.1.0
      with:
        severity: warning
        format: gcc
